In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}

df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

Accesing Data from dataframes

In [ ]:
import pandas as pd
student = {
    'Name': ['Subash', 'Arun', 'Kavya'],
    'Marks': [90, 85, 95],
    'Subject': ['Python', 'Java', 'C++']
}
df = pd.DataFrame(student)
print(df)
# Print only the 'Name' column
print(df['Name'])
# Print the marks of the second student
print(df['Marks'][1])

     Name  Marks Subject
0  Subash     90  Python
1    Arun     85    Java
2   Kavya     95     C++
0    Subash
1      Arun
2     Kavya
Name: Name, dtype: object
85

In [ ]:
import pandas as pd
pract = {
    'Product' : ['soap','shampoo','brush','toys'],
    'Price' :[10,20,30,40],
    'Stock': [50, 60, 100, 80],
    'Category': ['Bath', 'Bath', 'Toiletries', 'Kids']
}
df = pd.DataFrame(pract)# creating dataframe
df.to_csv('product.csv',index=False)#save csv file
print(df)
print("CSV file saved successfully.")

   Product  Price  Stock    Category
0     soap     10     50        Bath
1  shampoo     20     60        Bath
2    brush     30    100  Toiletries
3     toys     40     80        Kids
CSV file saved successfully.

In [11]:
import pandas as pd
print(pd.__version__)

2.2.2

What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [12]:
a = [1,2,3]
b= pd.Series(a)
print(b)

0    1
1    2
2    3
dtype: int64

Create Labels
With the index argument, you can name your own labels.

In [ ]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [5]:
a = pd.read_csv('product.csv')#Extract saved csv file
print(a.to_string())

   Product  Price  Stock    Category
0     soap     10     50        Bath
1  shampoo     20     60        Bath
2    brush     30    100  Toiletries
3     toys     40     80        Kids

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [7]:
a = pd.read_csv('product.csv')
print(a.head(4))

   Product  Price  Stock    Category
0     soap     10     50        Bath
1  shampoo     20     60        Bath
2    brush     30    100  Toiletries
3     toys     40     80        Kids

Tail is same as head but returns the data from the last rows

In [8]:
a = pd.read_csv('product.csv')
print(a.tail())

   Product  Price  Stock    Category
0     soap     10     50        Bath
1  shampoo     20     60        Bath
2    brush     30    100  Toiletries
3     toys     40     80        Kids

To find the information of the table

In [9]:
print(a.info)

<bound method DataFrame.info of    Product  Price  Stock    Category
0     soap     10     50        Bath
1  shampoo     20     60        Bath
2    brush     30    100  Toiletries
3     toys     40     80        Kids>

In [15]:
import pandas as pd
print(pd.options.display.max_rows)

60

| Code                                      | What It Does                         |
| ----------------------------------------- | ------------------------------------ |
| `pd.options.display.max_rows`             | Shows current row display limit      |
| `pd.set_option('display.max_rows', 100)`  | Sets the limit to 100 rows           |
| `pd.set_option('display.max_rows', None)` | Shows all rows in a DataFrame output |

Jason

In [ ]:
import pandas as pd
df = pd.read_json("data.json")  
print(df)

In [3]:
import pandas as pd
import json

# Sample JSON data (string format)
data = '''
[
  {"Product": "Soap", "Price": 10},
  {"Product": "Brush", "Price": 30}
]
'''

# Convert string to Python list of dicts using json.loads
parsed_data = json.loads(data)

# Now convert it to DataFrame
df = pd.DataFrame(parsed_data)

print(df)
print(parsed_data)

  Product  Price
0    Soap     10
1   Brush     30
[{'Product': 'Soap', 'Price': 10}, {'Product': 'Brush', 'Price': 30}]

*DATA CLEANING PART

Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells,
Data in wrong format,
Wrong data,
Duplicates

Data before cleaning

In [2]:
import pandas as pd
df = pd.read_csv('rawdata.csv')
print(df)

      Product   Price  Stock     Category
0        Soap    10.0   50.0         Bath
1     Shampoo    20.0   60.0         Bath
2       Brush    30.0  100.0   Toiletries
3  Toothpaste     NaN   80.0   Toiletries
4        Toys    40.0    NaN         Kids
5     Shampoo    20.0   60.0         Bath
6        Soap    10.0   50.0         Bath
7       Phone  5000.0   20.0  Electronics
8       Mouse   300.0    NaN  Electronics
9  Toothpaste     NaN   80.0   Toiletries

df.dropna() will remove the entire row if any of the column has NULL values
But dropna() doesnt chnage the orginal data

If you want to change the original DataFrame, use this = "df.dropna(inplace = True)
"

In [3]:
import pandas as pd
df = pd.read_csv('rawdata.csv')
new_df = df.dropna()
print(new_df.to_string())

   Product   Price  Stock     Category
0     Soap    10.0   50.0         Bath
1  Shampoo    20.0   60.0         Bath
2    Brush    30.0  100.0   Toiletries
5  Shampoo    20.0   60.0         Bath
6     Soap    10.0   50.0         Bath
7    Phone  5000.0   20.0  Electronics

so insted of deleting the entire row because of some null values try to fill the null values with the data using fillna

In [21]:
df = pd.read_csv('rawdata.csv')
df.fillna({"Price": 20,"Stock": 40}, inplace=True)
print(df)

      Product   Price  Stock     Category
0        Soap    10.0   50.0         Bath
1     Shampoo    20.0   60.0         Bath
2       Brush    30.0  100.0   Toiletries
3  Toothpaste    20.0   80.0   Toiletries
4        Toys    40.0   40.0         Kids
5     Shampoo    20.0   60.0         Bath
6        Soap    10.0   50.0         Bath
7       Phone  5000.0   20.0  Electronics
8       Mouse   300.0   40.0  Electronics
9  Toothpaste    20.0   80.0   Toiletries

CHECK DUPLICATE VALUES

In [5]:
import pandas as pd
df = pd.read_csv('rawdata.csv')
print(df[df.duplicated()])

      Product  Price  Stock    Category
5     Shampoo   20.0   60.0        Bath
6        Soap   10.0   50.0        Bath
9  Toothpaste    NaN   80.0  Toiletries

NOW REMOVE DUPLICATE VALUES

In [26]:
import pandas as pd
df = pd.read_csv('rawdata.csv')
df.fillna({"Price": 20,"Stock": 40}, inplace=True)
df.drop_duplicates(inplace=True)
print(df)

      Product   Price  Stock     Category
0        Soap    10.0   50.0         Bath
1     Shampoo    20.0   60.0         Bath
2       Brush    30.0  100.0   Toiletries
3  Toothpaste    20.0   80.0   Toiletries
4        Toys    40.0   40.0         Kids
7       Phone  5000.0   20.0  Electronics
8       Mouse   300.0   40.0  Electronics

checking after cleaning duplicates

In [6]:
print(df)
print("The remaining duplicates are : ",df.duplicated().sum())

      Product   Price  Stock     Category
0        Soap    10.0   50.0         Bath
1     Shampoo    20.0   60.0         Bath
2       Brush    30.0  100.0   Toiletries
3  Toothpaste     NaN   80.0   Toiletries
4        Toys    40.0    NaN         Kids
5     Shampoo    20.0   60.0         Bath
6        Soap    10.0   50.0         Bath
7       Phone  5000.0   20.0  Electronics
8       Mouse   300.0    NaN  Electronics
9  Toothpaste     NaN   80.0   Toiletries
The remaining duplicates are :  3

DATA conversion

| Task                     | Code               |
| ------------------------ | ------------------ |
| Convert string to number | `pd.to_numeric()`  |
| Convert string to date   | `pd.to_datetime()` |
| Check data types         | `df.dtypes`        |
| Drop invalid formats     | `df.dropna()`      |

EXAMPLE FOR CHANGING FORMAT

import pandas as pd

df = pd.read_csv('data.csv')

df['Date'] = pd.to_datetime(df['Date'], format='mixed')

print(df.to_string())

Replacing Values from the data

In [1]:
import pandas as pd
df = pd.read_csv('rawdata.csv')
df.fillna({"Price": 20,"Stock": 40}, inplace=True)
df.drop_duplicates(inplace=True)
df.loc[2, 'Stock'] = 45 # replace using loc method
print(df)

      Product   Price  Stock     Category
0        Soap    10.0   50.0         Bath
1     Shampoo    20.0   60.0         Bath
2       Brush    30.0   45.0   Toiletries
3  Toothpaste    20.0   80.0   Toiletries
4        Toys    40.0   40.0         Kids
7       Phone  5000.0   20.0  Electronics
8       Mouse   300.0   40.0  Electronics

In [7]:
df.to_csv("cleaned_data.csv", index=False)

In [5]:
print(df)

      Product   Price  Stock     Category
0        Soap    10.0   50.0         Bath
1     Shampoo    20.0   60.0         Bath
2       Brush    30.0   45.0   Toiletries
3  Toothpaste    20.0   80.0   Toiletries
4        Toys    40.0   40.0         Kids
7       Phone  5000.0   20.0  Electronics
8       Mouse   300.0   40.0  Electronics

REMOVING ROWS

In [6]:
df = pd.read_csv('cleaned_data.csv')
for x in df.index:
    if df.loc[x,"Price"]>2000:
        df.drop(x,inplace=True)
print(df.to_string())

      Product  Price  Stock     Category
0        Soap   10.0   50.0         Bath
1     Shampoo   20.0   60.0         Bath
2       Brush   30.0   45.0   Toiletries
3  Toothpaste   20.0   80.0   Toiletries
4        Toys   40.0   40.0         Kids
6       Mouse  300.0   40.0  Electronics

Pandas - Data Correlations

The corr() method calculates the relationship between each column in your data set.